.header{
    color: #bcfd4c;
    font-weight: bold;
    font-size: 5vh;
}

.body{
    font-size: 18px;
}

.middle-div {
    margin-top: 5%;
    width: 60%;
}

.container{
    max-width: 60vw;
    display: flex;
    justify-content: flex-end; /* Aligns items to the right */
}



@media(max-width: 1100px) {

    .container {
      justify-content: center;
    }

    .middle-div{
        margin-top: 0%;
        width: 100%;
    }

    .header{
        font-size: 4vh;
    }
    
    .body{
        font-size: 16px;
    }

  }

