.header{
    color: #bcfd4c;
    font-weight: bold;
    margin-left: 80px;
    padding-bottom: 20px;
    font-size: 5vh;
    margin-top: 25px;
}
.body{
    padding:0px 100px;
    text-align: left;
    font-size: 18px;
}


.middle-div {
    width: 60%;
    margin-left: 700px;
}
