.edu-card {
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: absolute;
    opacity: 0.4; 
    z-index: 1;

  }

  .edu-encase-l:hover{
    background-color: #b8d4b4;
    transform: scale(1.02); 
  }

  .edu-encase-l{
    position: relative; 
    margin: auto; 
    overflow: hidden;
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    border-radius: 10px;
    margin-top: 25px;
    transition: background-color 0.3s, transform 0.3s;
  }

  .edu-encase-v:hover{
    background-color: #f1b638;
    transform: scale(1.02); 
  }

  .edu-encase-v{
    position: relative; 
    margin: auto; 
    overflow: hidden;
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    border-radius: 10px;
    margin-top: 25px;
    transition: background-color 0.3s, transform 0.3s;
  }

  .edu-content{
    height: 100%;
    position: relative;
    z-index: 2;
    color: white;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
