/*-----------------------------------------------------------------------------------------------------*/


.exp-container {
  align-items: center;
  width: 100vw;
  width: 100dvw;
}

.exp-2nd-container {
  padding:min(5em , 10%),min(min(5em , 0)) ;
    margin: 60px auto;
    width: min(1200px , 80%);
    position: relative;
}

.header-exp {
  color: #bcfd4c;
  font-weight: bold;
  font-size: 3rem;
}


.faq {
  background-color: transparent;
  border: 1px solid #9fa4a8;
  border-radius: 10px;
  margin: 20px 0;
  padding: 30px;
  position: relative;
  overflow: hidden;
  transition: 0.6s ease ;
}

.faq.active {
  background-color: #1c1f2b;
}
.faq-title {
  margin: 0 35px 0 0;
 
}

.faq-text {
  display: none;
  margin: 30px 0 0;
}

.faq.active .faq-text {
  display: block;
}

.faq-toggle {
  background-color: transparent;
  border: 0;
  border-radius: 50%;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 16px;
  padding: 0;
  position: absolute;
  top: 30px;
  right: 30px;
  height: 30px;
  width: 30px;
  color: #fff;
  background-color: #9fa4a8;
}

.faq:hover {
  background-color: #1c1f2b;
}

.faq-toggle .fa-times {
  display: none;
}

.faq.active .faq-toggle .fa-times {
  color: #fff;
  display: block;
}

.faq.active .faq-toggle .fa-chevron-down {
  display: none;
}

.faq.active .faq-toggle {
  background-color: #9fa4a8;
}

.project {
  margin-bottom: 30px;
}

.project h3 {
  color: #00adb5;
  margin-bottom: 10px;
}

.bus-images{
  border-radius: 10px;
}

.occupations p {
  font-size: 1.5rem;
  font-weight: bold;
  color: #00adb5;
  margin: 5px 0; /* Add spacing between occupations */
  text-align: center;
}