  /* STYLES FOR ME */

  .bannerName-cover {
    height: 50vh;
    margin-top: 100px;
    /* margin-left: 100px; */
    /* display: flex; */
  }

  .bannerName {
    font-size: 4vw;
    text-align: left;

  }

  .splitter{
    height:30%
  }
  .bannerName-name h1 {
    margin: 0;
  }

  .bannerName-title p {
    margin: 0;
    color: #bcfd4c;
  }

  .profile-dock{
    display: flex;
    justify-content: flex-end; /* Aligns items to the right */
  }

  .profile {
    width: 38%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    margin-top: 5%;
    padding-top: 35%;
    position: relative;
    border-radius: 300px;
    border: 15px solid #FFF;


  }


  @media(max-width: 1100px) {

    .bannerName-cover {
      align-items: center;
      flex-direction: column;
      margin-left: 0;
    }

    .profile-dock{
      justify-content: center;
    }

    .profile {
      width: 40%;
      padding-top: 38%;
      margin-top: 2%;
      border: 10px solid #FFF;
    }

  }

  @media(max-width: 800px) {

    .bannerName-cover {
      height: 40vh;
    }

    .profile {
      width: 45%;
      padding-top: 42%;
      margin-top: 1%;
      border: 5px solid #FFF;
    }

  }