.banner-Name{
  height: 100vh;
  height: 100dvh;
  width:100%;

  padding: 0px 20px;
  display: block;
  align-content: center;
}

.banner-container {
  display: flex;
  align-items: flex-start; /* Aligns items vertically */
  gap: 20px;
  border: solid 2px;
  padding: 20px;
  border-radius: 10px;
  background-color: rgba(255, 255, 255, 0.05);
  backdrop-filter: blur(10px);
}

.banner-Name h1{
  font-size: 5rem;
}

.banner-Name img{
  width: 100%;
  height: auto;
  aspect-ratio: 1/1;
  object-fit: cover;
  border-radius: 1100px;
  height: 300px;
  width: 300px;
  border: solid 10px;
  margin-top: 50px;

}

.banner-Name p{
  font-size: 3rem;
  color: #bcfd4c;
}

.banner-Name::before {
  content: '';
  position: absolute;
  inset: 0;
  background-image: url('../../assets/images/Landingpage.png'); 
  background-size: cover;
  background-position: center;
  z-index: -1;

  mask-image: url('../../assets/videos/cover2slw2.gif');
  mask-size: cover;
  mask-position: center;

}


@media (max-width: 700px) { /* Adjust 600px as needed */
  .banner-container {
      flex-direction: column; /* Stack items vertically */

      align-items: center; /* Center align for better aesthetics */
  }

  .banner-Name img {
      align-self: center; /* Center the image when stacked */
      margin-top: 10px; /* Optional: Add space between elements */
  }
}



/* .shape {
  position: absolute;
  width: 300px;
  height: 600px;
  opacity: 1;
  border-radius: 50%;
  border: solid 5px ;
  z-index:-1
}

.shape.square {
  border-radius: 5px;
  background-color: brown;
} */
