  /* STYLES FOR ME */

  .bannerName-cover {
    height: 50vh;
    margin-top: 50px;
    margin-left: 100px;
    display: flex;
  }

  .bannerName {
    font-size: 4vw;
    text-align: left;

  }

  .splitter{
    height:30%
  }
  .bannerName-name h1 {
    margin: 0;
  }

  .bannerName-title p {
    margin: 0;
    color: #bcfd4c;
  }

  .profile {
    width: 35%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    margin-top: 5%;
    padding-top: 35%;
    position: relative;
    border-radius: 300px;

  }

  /* @media(max-width: 1200px){

.profile{
  
  width: 23%;
  height: 50%; 
}

} */


  @media(max-width: 1100px) {

    .bannerName-cover {
      align-items: center;
      flex-direction: column;
      margin-left: 0;
    }

    .profile {
      width: 20%;
      padding-top: 20%;
    }

  }

  @media(max-width: 800px) {

    .bannerName-cover {
      height: 30vh;
    }


  }